.navigation{
    background-color: rgb(205, 184, 254);
    text-align: right;
    font-family: monospace;
    font-size: xx-large;
    font-weight: 1000;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 2000;
    

}
li{
    list-style: none;
    display: inline-block;
}
*{
    margin: 0;
}

.Home-container{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.Contact-container{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: large;
    
}
.About-container{
    background-color: white;
}


img{
    border-radius: 10%;
    align-items: right;
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    margin-top: 5%;
}
.Home{
    font-size: larger;
}
  
.navigation-1{
    margin-right: 1%;
}

.outter-conttainer{
    background-color: black;
}
.card-img-top{
    padding-right: 170px
    
}

.contact-form{
    align-items: center;
    margin-left: 35%;
    margin-top: 45px;
}